<% layout('/layouts/default.html', {title: '生产计划管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('生产计划管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('produce:producePlan:edit')){ %>
					<a href="${ctx}/produce/producePlan/form" class="btn btn-default btnTool" title="${text('新增生产计划')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${producePlan}" action="${ctx}/produce/producePlan/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('计划名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('计划开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="beginTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('计划结束时间')}：</label>
					<div class="control-inline">
						<#form:input path="endTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('计划描述')}：</label>
					<div class="control-inline">
						<#form:input path="descripe" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('父id')}：</label>
				</div>
				<div class="form-group">
					<label class="control-label">${text('status')}：</label>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("计划名称")}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/produce/producePlan/form?producePlanId='+row.producePlanId+'" class="btnList" data-title="${text("编辑生产计划")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("计划开始时间")}', name:'beginTime', index:'a.begin_time', width:150, align:"center"},
		{header:'${text("计划结束时间")}', name:'endTime', index:'a.end_time', width:150, align:"center"},
		{header:'${text("计划描述")}', name:'descripe', index:'a.descripe', width:150, align:"left"},
		{header:'${text("父id")}', name:'pid', index:'a.pid', width:150, align:"center"},
		{header:'${text("status")}', name:'status', index:'a.status', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('produce:producePlan:edit')){ %>
				actions.push('<a href="${ctx}/produce/producePlan/form?producePlanId='+row.producePlanId+'" class="btnList" title="${text("编辑生产计划")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/produce/producePlan/delete?producePlanId='+row.producePlanId+'" class="btnList" title="${text("删除生产计划")}" data-confirm="${text("确认要删除该生产计划吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>