<% layout('/layouts/default.html', {title: '生产日志管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('生产日志管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('produce:productLog:edit')){ %>
					<a href="${ctx}/produce/productLog/form" class="btn btn-default btnTool" title="${text('新增生产日志')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${productLog}" action="${ctx}/produce/productLog/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('产品')}：</label>
					<div class="control-inline">
						<#form:input path="productId" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工位')}：</label>
					<div class="control-inline">
						<#form:input path="workSeatId" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('员工')}：</label>
					<div class="control-inline">
						<#form:input path="employerId" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工序')}：</label>
					<div class="control-inline">
						<#form:input path="procedureId" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('时间')}：</label>
					<div class="control-inline">
						<#form:input path="createAt" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数量')}：</label>
					<div class="control-inline">
						<#form:input path="num" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('检测结果')}：</label>
					<div class="control-inline">
						<#form:input path="checkResult" maxlength="2" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('检测数据')}：</label>
					<div class="control-inline">
						<#form:input path="measurement" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("产品")}', name:'productId', index:'a.product_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/produce/productLog/form?productLogId='+row.productLogId+'" class="btnList" data-title="${text("编辑生产日志")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("工位")}', name:'workSeatId', index:'a.work_seat_id', width:150, align:"center"},
		{header:'${text("员工")}', name:'employerId', index:'a.employer_id', width:150, align:"center"},
		{header:'${text("工序")}', name:'procedureId', index:'a.procedure_id', width:150, align:"center"},
		{header:'${text("时间")}', name:'createAt', index:'a.create_at', width:150, align:"center"},
		{header:'${text("数量")}', name:'num', index:'a.num', width:150, align:"center"},
		{header:'${text("检测结果")}', name:'checkResult', index:'a.check_result', width:150, align:"center"},
		{header:'${text("检测数据")}', name:'measurement', index:'a.measurement', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('produce:productLog:edit')){ %>
				actions.push('<a href="${ctx}/produce/productLog/form?productLogId='+row.productLogId+'" class="btnList" title="${text("编辑生产日志")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/produce/productLog/delete?productLogId='+row.productLogId+'" class="btnList" title="${text("删除生产日志")}" data-confirm="${text("确认要删除该生产日志吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>